<html>
<body>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data action="/admin/">
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    </body>
</html>



   <!--<form enctype="multipart/form-data" action="http://192.168.29.65/UploadFile" method=post>-->
    <!--load multi files :<br>-->
    <!--<input name="userfile1" type="file"><br>-->
    <!--<input name="userfile2" type="file"><br>-->
    <!--<input name="userfile3" type="file"><br>-->
    <!--<input name="userfile4" type="file"><br>-->
    <!--text field :<input type="text" name="text" value="text"><br>-->
    <!--<input type="submit" value="提交"><input type=reset>-->
<!--</form>-->
